{# disease/addSymptoms#}
{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}"> We Care </a>
                </div>
                <ul class="navbar navbar-nav"></ul>
                <div class="pull-right">
                    <ul class="navbar navbar-nav">
                        <li><a class="active" href="{{ path('add_hospital') }}"> <span class="glyphicon glyphicon-hand-down"></span> Select A Doctor </a></li>
                        <li><a href="{{ path('admin_homepage') }}" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="{{ path('security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block body_id 'new_disease' %}

{% block main %}
    {% if form is defined %}
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        <div class="col-sm-11">
            <div class="well">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    {% else %}
    {% endif %}
{% endblock %}



{% block javascripts %}

{% endblock %}